
@{
    ViewData["Title"] = "Events";
}

<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <link rel="stylesheet" href="/html/site.css">
</head>
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
        color: black;
    }/*(W3Schools,2025)*/

    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('@Url.Content("~/Images/BackgroundImage.jpg")');
        background-size: cover;
        background-position: center;
        opacity: 0.6;
        z-index: -1;
    }/*(W3Schools,2025)*/

    .centered-content {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }/*(W3Schools,2025)*/

    h1 {
        margin: 0;
        font-size: 60px;
        text-shadow: 2px 2px 8px white;
    }/*(W3Schools,2025)*/

    hr {
        margin: 15px auto;
        width: 40%;
    }/*(W3Schools,2025)*/

    #demo {
        font-size: 30px;
        margin-top: 10px;
    }/*(W3Schools,2025)*/
</style>
<body>
    <!-- Background image element -->
    <div class="background-image"></div>

    <!-- Text and timer -->
    <div class="centered-content">
        <h1 class="fw-bold">COMING SOON</h1>
        <hr>
        <p id="demo" style="font-size:30px"></p>
    </div>

    <!-- Timer -->
    <script>
        var countDownDate = new Date("15 October, 2025 15:37:25").getTime();

        var countdownfunction = setInterval(function() {
          var now = new Date().getTime();
          var distance = countDownDate - now;

          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          document.getElementById("demo").innerHTML =
              days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

          if (distance < 0) {
            clearInterval(countdownfunction);
            document.getElementById("demo").innerHTML = "EXPIRED";
          }
        }, 1000);
    </script><!--(W3Schools,2025)-->
</body>
</html>